{% extends 'users/base.html' %}

{% block content %}
    <h1>Todo List</h1>
    <form action="/create/" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <input name="content" type="text" class="form-control">
        </div>
        <div class="form-group">
            <button class="btn btn-primary">만들기</button>
        </div>
    </form>

    <table class="table">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">내용</th>
            <th scope="col">체크</th>
          <th scope="col">삭제</th>
        </tr>
      </thead>
      <tbody>
          {% for todo in todos %}
              <tr>
                  <th scope="row">{{ todo.user.email }}</th>
                  {% if todo.completed %}
                      <td><strike>{{ todo.content }}</strike></td>
                  {% else %}
                      <td>{{ todo.content }}</td>
                  {% endif %}

                  <td><button class="btn btn-dark"><a href="{% url 'todos:check' todo.id %}">체크</a></button></td>
                  <td>삭제</td>
              </tr>
          {% endfor %}

      </tbody>
    </table>


{% endblock %}